body{
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 10vh 10vh 50vh 50vh 10vh;
}

header{
    display: flex;
    grid-column: 2/2;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #FF6464;  
}
header img{
    max-height: auto;
    max-width: 5%;
}
nav{
margin-top: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-column: 1/3;
    margin-right: 20%;
    margin-left: 20%;
    background-color: #FF6464;  
    padding-bottom: 5%;
}

h2{
    font-size: 200%;
    background-color: #FF6464;  
}
main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    grid-column: 2/2;
    grid-row: 3/4;
    justify-content: space-evenly;
    margin-top: 10px;
    text-align: center;
}
article{
    display: flex;
    grid-column: 2/2;
    grid-row: 4/5;
    justify-content: space-evenly;
    text-align: center;
}
img{
max-height: auto;
max-width: 200px;
}
aside{
    text-align: center;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    grid-row: 3/5;
    background-color: #FF6464;  
}
footer{
    grid-column: 2/2;
    align-content: center;
    text-align: center;
    font-size: 30px;
    background-color: #FF6464;  
}